@import "../../styling/scss/variables";

.dataview-grid-view .p-dataview .p-dataview-content {
    background-color: $pim-whitecolor;
    padding: 0px 10px 10px 10px;
  }

  .dataview-grid-view-org .p-dataview .p-dataview-content {
    background-color: $pim-whitecolor;
    padding: 15px 8px;
    min-height: 225px;
  }
  
  .dataview-grid-view {
    height: auto;
    // overflow-y: scroll;
  }

  .dataview-grid-view-org {
    border : 1px solid $pim-border-radius-color
  }

  .dataview-grid-view-org .p-dataview .p-dataview-header {
    padding: 1rem 1rem 0.4rem;
  }
  
  .dataview-grid-view::-webkit-scrollbar {
    display: none;
  }
  
  .dataview-grid-view
    .p-dataview.p-dataview-list
    .p-dataview-content
    > .p-grid
    > div {
    border: none;
  }
  
  .dataview-grid-view .p-grid .p-dataview-emptymessage {
    background: white;
    text-align: center;
    height: 300px;
    border-radius: 10px;
    margin-top: 15px;
    padding-top: 125px;
    font-weight: bold;
  }

  img.product-image {
    width: 100%;
    height: 20vh;
    border-radius: 0px;
    max-width: 100%;
  }
  img.product-image-org {
    width: 100%;
    height: 19.5vh;
  }
  
  .dataview-grid-view .dataview-grid-item {
    margin: 0px 0;
    width: 214px;
    background: #F5F5F5;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0px;
    box-sizing: border-box;
    padding: 0px;
  }
  
  .dataview-grid-view-org{
    margin: 0px -12px 0px 0px;
    height: auto;
    width: auto;
    // border: 1px solid #f1f1f1;
    // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    // border-radius: 10px;
    box-sizing: border-box;
    padding: 8px 8px;
  }
  
  .dataview-grid-view .dataview-grid {
    text-align: -webkit-center;
    padding: 10px 20px;
  }
  
  .dataview-grid-view-org .dataview-grid {
    text-align: -webkit-center;
    padding: 10px;
  }
  
  .dataview-grid-view .dataview-grid .dataview-grid-item:hover{
    z-index: 9;
    border-radius: 0px;
      box-shadow: 0 0px 14px rgba(0, 0 ,0 ,0.2);
      transform: scale(1.05);
      transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  }
  
  // .skulist .dataview-grid-view .dataview-grid .dataview-grid-item .dataview-grid-item-content > img{
  //   transition: box-shadow 0.2s ease, transform 0.5s ease, z-index 0s 0s ease;
  //   }
  
  // .skulist .dataview-grid-view .dataview-grid .dataview-grid-item:hover .dataview-grid-item-content > img{
  //   transform: scale(1.3);
  //   transition: box-shadow 0.2s ease, transform 0.5s ease, z-index 0s 0s ease;
  //   }
  
  .dataview-grid-view .dataview-grid-item .dataview-grid-item-top,
  .dataview-grid-view .dataview-grid-item .dataview-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dataview-grid-view .dataview-grid-item .dataview-grid-item-content {
    text-align: center;
    margin: auto;
    background: $pim-whitecolor;
    border-radius: 0px;
  }
  
  .asset-grid-view .asset-grid-item .asset-price {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .asset-grid-item-content > video {
    max-width: 182px;
    max-height: 136px;
    cursor: pointer;
  }
  
  .asset-grid-file-name {
    font-family: $barlow-regular;
    font-size: 12px;
    text-align: left;
    overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }
  
  .asset-grid-file-name > span {
    font-family: $barlow-bold;
  }
  
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
    padding: 0.75rem 0.6rem !important;
  }
  
  .dataview-fixed-paginator .pi{
    font-size: $paginator-iconfontsize;
  }
  
  .dataview-fixed-paginator .p-paginator-prev {
    font-size: 12px;
  }
  
  .dataview-fixed-paginator .p-paginator-next {
      font-size: 12px;
  }
  
  .p-paginator .p-paginator-first{
      min-width: auto !important; 
       height: auto !important;
  }
   
  .dataview-edit-button {
    width: 28px;
    height: 28px;
    padding: 0px;
    background: #f8f8f8;
    border-radius: 10px;
    border: none;
  }
  
  .dataview-edit-button:hover {
    //  background: #fff !important;
    color: #000;
  }
  
  .p-dataview .p-dataview-header
   {
    background: #ffffff;
    // border-bottom: 1px solid #dee2e6;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0rem 1rem 0.4rem;
  }
  
  .dataview-grid-view .product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }
  
  .dataview-grid-view .product-list-item img {
    width: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
  }
  
  .dataview-grid-view .product-list-item .product-list-detail {
    flex: 1 1 0;
  }
  
  .dataview-grid-view .product-list-item .p-rating {
    margin: 0 0 0.5rem 0;
  }
  
  .dataview-grid-view .product-list-item .product-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    align-self: flex-end;
  }
  
  .dataview-grid-view .product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
  }
  
  .dataview-grid-view .product-list-item .p-button {
    margin-bottom: 0.5rem;
  }
  
  @media screen and (max-width: 576px) {
    .dataview-grid-view .product-list-item {
      flex-direction: column;
      align-items: center;
    }
  
    .dataview-grid-view .product-list-item img {
      width: 75%;
      margin: 2rem 0;
    }
  
    .dataview-grid-view .product-list-item .product-list-detail {
      text-align: center;
    }
  
    .dataview-grid-view .product-list-item .product-price {
      align-self: center;
    }
  
    .dataview-grid-view .product-list-item .product-list-action {
      display: flex;
      flex-direction: column;
    }
  
    .dataview-grid-view .product-list-item .product-list-action {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  
  @media(min-width: 1200px) {
   .skulist .dataview-grid.col-xl-2 {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
  }
  }
  
  @media screen and (max-width: 1260px) {
    .dataview-fixed-paginator {
      border: none;
      top: 0px !important;
      right: -1%;
      background: $pim-whitecolor !important;
      margin: 0px;
      padding: 0px 10px;
    }
  }

  @media screen and (min-width: 1260px) {
    .dataview-fixed-paginator {
      border: none;
      width: fit-content;
      position: absolute;
      top: 0px !important;
      right: -1%;
      background: transparent;
      margin: -17px 0px;
    }
  }

  @media screen and (max-width: 999px) {
    .dataview-search-container .search-box-autocomplete{
        width: 200px;
        padding-left: 25px;
    }
  }

  @media screen and (max-width: 892px) {
    .dataview-search-container .search-box-autocomplete{
        width: 100px; 
        padding-left: 25px;      
    }
  }

  @media screen and (min-width: 1000px) {
    .dataview-search-container .search-box-autocomplete{
        width: 250px; 
        padding-left: 25px;       
    }
  }

  .dataview-mulitsort .field-radiobutton .p-radiobutton .p-radiobutton-box .p-radiobutton-icon{
    transition-duration: 0s;
  }

  .dataview-mulitsort .field-radiobutton .p-radiobutton .p-radiobutton-box{
    width: 14px;
    height: 14px;
  }
  
  .dataview-mulitsort .field-radiobutton .p-radiobutton .p-radiobutton-box .p-radiobutton-icon{
    width: 6px;
    height: 6px;
  }
  
  .dataview-mulitsort .field-radiobutton .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover{
    border-color: #ced4da;
  }
  
  .dataview-mulitsort .field-radiobutton .p-radiobutton .p-radiobutton-box{
    border: 4px solid #ced4da;
  }

  .dataview-mulitsort .p-radiobutton{
    align-items: center;
  }
  
  .dataview-grid-view .p-paginator .p-paginator-pages .p-paginator-page {
    min-width: 1rem;
    height: 1rem !important;
    margin: 0rem;
    font-size: 10px;
    margin-top: -4px;
  }
  
  .dataview-fixed-paginator .p-paginator-pages{
    // margin-top: -3px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
  }
  
  .dataview-grid-view  .p-paginator-next:not(.p-disabled) {
    color: #0E90E1 !important;
  }
  
  .dataview-grid-view  .p-paginator-prev:not(.p-disabled) {
    color: #0E90E1 !important;
  }
  
   .paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover{
      background: none ;
      border-color: transparent; 
      color: #343a40;
   }
  
  .dataview-grid-view  .p-toolbar {
    background-color: white;
    border: none;
    margin-bottom: 0px !important;
    border: 0px solid #e2e8f0;
    box-shadow: $pim-Grid-boxshadow ;
    border-radius: 0px 0px 6px 6px;
    border-top: 0px;
    margin-top: -75px;
    min-height: 70px;
    margin-right: -15px;
    padding: 1.65rem !important;
  }
  
  .dataview-grid-view .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: $table-backgroundColor;
    border: 1px solid $table-backgroundColor;
  }
  
  .dataview-grid-view .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    z-index: 0;
    cursor: pointer;
    font-weight: 700;
    height: $paginator-height !important;
    padding: $paginator-highlight-padding;
    border-radius: $paginator-highlight-borderradius;
    border: 1px solid #212529;
    background-color: $paginator-highlight-bgcolor;
    margin-left: -1px;
    line-height: 1.42857143;
    margin-top: 2px;
    width: $paginator-width;
    min-width: $paginator-minwidth;
    color: #000000;
  }
  
  .dataview-grid-view
    .p-paginator
    .p-paginator-pages
    .p-paginator-page:not(.p-highlight):hover {
    background-color: $paginator-pageBGcolor;
  }
  
  .asset-grid-view , .dataview-fixed-paginator , .p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover , 
                   .p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
                   .p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover,
                   .p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover{
       background: none; 
       border-color: none;
  }
  
  .dataview-grid-view .p-paginator {
    justify-content: end;
  }
  
  .dataview-fixed-paginator .p-inputtext {
    padding: 0rem 0.5rem;
  }
  
  .dataview-list-total-records{
    display: flex;
    justify-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: #495057;
  }
  
  .dataview-fixed-paginator .p-inputtext {
    padding: 0rem 0.5rem;
  }
  
  .p-paginator .p-dropdown {
    margin-right: 7px;
    margin-left: 0.5rem;
    height: 1.5rem;
    width: 3rem;
    border-radius: 20px;
  }
  
  .dataview-fixed-paginator .p-inputtext{
    font-size: 12px;
  }
  
  .catalog-btn{
    border-radius: 5px !important;
    padding: 5px 11px;
    color: white !important;
    // min-width: 94px !important;
    font-size: 12px !important;
    margin-right: 15px !important;
  }
  
  .dataview-mulitsort-icon{
    width: 14.35px;
    height: 12px;
    vertical-align: initial;
    vertical-align: middle;
    margin-top: -7px;
  }
  
  .dataview-mulitsort .dropdown .dropdown-toggle .btn .btn-primary{
    padding: 0.1rem 0.75rem !important;
    line-height: normal !important;
  } 
  
  button.dropdown-toggle.btn.btn-primary {
    padding: 0.1rem 0.75rem;
  }
  
  .dataview-sorticon-space{
    padding: 0.2rem 0.75rem !important;
  }
  
  .data-class{
    box-shadow: none !important;
    border: #000;
  }
  
  .dataview-multisort-effect .field-radiobutton  .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #0E90E1;
    background: #0E90E1;
  }
  
  .p-paginator-current{
    font-weight: 400;
    font-size: 14px;
    color: #212529 !important;
  }
  
  .dataview-fixed-paginator .p-paginator .p-paginator-first,
  .p-paginator .p-paginator-prev,
  .p-paginator .p-paginator-next,
  .p-paginator .p-paginator-last {
    min-width: 0rem;
    height: 25px;
    // margin: $paginatorpage-margin;
    font-size: $pim-font-sm;
  }
  
  .dataview-sort-asc-icon {
    margin-left: 1rem;
  }

  .dataview-sort-desc-icon {
    margin-left: 0.6rem;
  }
  
  // ____________________hover effect card_____________________________________
  .hover-container {
    position: relative;
    width: 50%;
  }
  
  .hover-item {
    width: 92%;
    opacity: 0;
    position: absolute;
    top: 8px;
    left: 10px;
  }
  
  .hover-less-item {
    width: 92%;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 10px;
    z-index: 1;
    // top: 10%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
  }
  
  .hover-container:hover .image {
    opacity: 0.3;
  }
  
  .hover-container:hover .hover-item {
    opacity: 1;
  }
  
  .dataview-toolsheader{
    z-index: 99999;
  }
  
  // _______________checkbox_color__________
  .p-checkbox .p-checkbox-box.p-highlight {
    color: #fff2e8;
    border-color: #0E90E1;
    background: #0E90E1;
  }
  
  .p-checkbox .p-checkbox-box {
    // border: 1px solid #dedfe0;
    background: #ffffff;
    width: 15px;
    height: 15px;
    color: #495057;
    border-radius: 2px;
  }
  
  .skulist{
    .dataview-grid-view .dataview-grid{
      padding: 5px 0px;
    }
    .dataview-grid-view .dataview-grid-item{
      width: 96%;
    }
  }
  
  .dataview-tag-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .dataview-tag-width {
    padding: 0.6rem;
  }

  .dataview-tag-option-style{
     justify-content: flex-start;
  }

  .fa-search:before{
    color: $pim-active-button-BGColor;
  }

  .pi-search:before{
    color: $pim-active-button-BGColor;
  }

  .fa-check:before {
    content: "\f00c";
  }

  .select-all-style{
    font-family: 'Chivo-Regular';
  }