@import "../../styling/scss/variables";

.filter-dropdown{
  background: #FFFFFF;
  padding: auto;
}

.filter-dropdown .p-button{
  background-color: #e3f3ff;
border: none;
color: black;
font-size: 14px;
width: -webkit-fill-available;
height: 80px
}

.filter-dropdown .p-dropdown {
  height: 34px;
  width: 100%;
  // margin-left: 15px;
  border: 1px solid #e2e8f0;
}

.filter-label-fontsize{
  font-size: 12px;
}

.filter-dropdown .multiselect-item {
  text-transform: capitalize;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}

// .filter-dropdown .dropdown-col-style{
//   max-width: 200px;
// }

.filter-dropdown .p-dropdown:not(.p-disabled):hover {
  background-color: #e3f3ff;
  border: #e3f3ff;
}

.filter-dropdown .p-dropdown:not(.p-disabled).p-focus{
  box-shadow: none;
  border: 1px solid #e2e8f0
}

.p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  background: #e3f3ff;
}
