@import "../../styling/scss/variables";

.flagCircleIcon {
    width: 40px;
    margin-top: 11px;
    height: 40px;
    object-fit: cover;
}

.flag-icon-div-style {
    display: flex;
    justify-content: end;
    padding-right: 1px;
    top: -4px;
}

.profile-info-icon-style{
    width: 20px;
    height: 20px;
    margin: 20px 21px 16px 21px;
    cursor: pointer;
}

.support-link-style{
    position: relative;
	background-color: $pimerce_background_white_color;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	margin-left: 22px;
	padding-top: -2px;
	width: 91px;
	height: 28px;
    margin-top: 17px;
}
.support-link-Text {
	font-size: $font-sm;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	color: $pimerce_title_color;
	cursor: pointer;
	padding: 16px;
}